.hubspot-form-thank-you {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__step {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-id {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      height: 64px;
      width: 64px;
      font-size: 32px;
      color: $dark-blue;
      line-height: 1;
      border: 2px solid $dark-blue;
      border-radius: 50%;

      &--checked {
        background: $dark-blue;
        color: $white;
      }
    }

    &-title {
      font-size: 22px;
      display: inline;
      margin: 0 !important;

      &--disable {
        opacity: .6;
      }

      // &--with-comma {
      //   &::after {
      //     content: ",";
      //   }
      // }

      @include large-and-up {
        font-size: 40px;
      }
    }

    &-id, &-title {
      font-family: $roboto;
      font-weight: 700;
    }

    &-description {
      font-family: $lora;
      font-weight: 400;
      font-size: 16px;
      margin: 0 !important;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}
